* {
    margin: auto;
    text-align: center;
}

#gamepageBody {
    width: 100%;
    height:100%;
    background-color: grey;
}

#pageTitle {
    font-size: 50 px;
}

#privateGameButton {
    text-decoration: none;
    background-color: #9aec13;
}

#customiseIcon {
    width: 200px;
    height: 200px;
}

.lobbyTitles {
    display: box;
}

.settings {
    outline-color: black;
    outline-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#numRounds, #roundLength {
    width: 150px;
    height: 30px;
}

#changeSettings {
    display: block;
}
